{% extends "base.html" %} {% block title %}Cardset{% endblock %}
{% block content %}
<div class="container home-page-container">
    <br />
    <div class="row cardset-row">
          {% for i in all_cards %}
            <div class="col-12 col-lg-4 col-md-6">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="container flip-card-front" id="flip-card-front">
                      <div class="row">
                        <div class="col-8 offset-2">
                          {{ i.question }}
                        </div>
                      </div>
                    </div>
                    <div class="container flip-card-back" id="flip-card-back" align="center">
                      <div class="row">
                        <div class="col-8 offset-2">
                          {{ i.answer }}
                        </div>
                        <div class="col-2">
                          <div class="row">
                            <div class="col-12">
                              <button class="btn card-btn" style="padding-left:0px;padding-right:0px;" onclick="deleteCard({{ i.id }})"><i class="fa-solid fa-xmark" ></i></button>
                            </div>
                            <div class="col-12">
                              <div class="popup btn card-btn" style="padding-left:0px;padding-right:0px;" onclick="myFunction()"><i class="fa-solid fa-pen-to-square"></i><span class="popuptext" id="myPopup">Popup text...</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor %}
    </div>
    <br />
    <form method="POST">
        <textarea name="question" id="question" placeholder="Enter the question." class="form-control"></textarea> 
        <textarea name="answer" id="answer" placeholder="Enter the answer." class="form-control"></textarea> 
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <button type="submit" name="action" value="cards" class="btn btn-primary cardset-btn">Create</button>
        </div>
    </div>
</form>
</div>
{% endblock %}