{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center" class="title">Flashcards</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% set x = user.notes %}
      {% for note in x %}
      <li class="list-group-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              {{ note.data }}
            </div>
            <div class="flip-card-back">
              {{ note.answer }}
              <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" placeholder="Enter your question here." class="form-control"></textarea>
      <textarea name="ans" id="ans" placeholder="Enter your answer here." class="form-control"></textarea>
      <br />
    </div>
    <div class="container dropdown-submit">
      <div class="row justify-content-center">
        <div class="col-3 dropdown-column">
          <button class="btn btn-primary dropdown-toggle settings-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
          </button>
          <div class="dropdown-menu drop-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item btn btn-primary" name="action" value="All" type="submit"><div align="center"><a>All</a></div></button>
              <button class="dropdown-item btn btn-primary" name="action" value="Maths" type="submit"><div align="center"><a>Maths</a></div></button>
          </div>
        </div>
      </div>
    </div>
    </form>
    <br />
    <div class="container container-arrows">
      <a href="/" class="previous round">&#8249;</a>
      <a href="/page1" class="next round">&#8250;</a>
    </div> 
    <br />

    {% endblock %}