{% extends "base.html" %} {% block title %}Page 1{% endblock %}
{% block content %}

<br />
<div class="container home-page-container">
  <br />
  <ul class="list-group list-group-flush" id="notes">
    <div class="row">
    {% set x = user.notes[16:20] %}
    {% for note in x %}
    <div class="col-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            {{ note.data }}
          </div>
          <div class="flip-card-back">
            {{ note.answer }}
            <button type="button" class="close cls" onClick="deleteNote({{ note.id }})">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    {% set y = user.notes[20:24] %}
    {% for note in y %}
    <div class="col-3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            {{ note.data }}
          </div>
          <div class="flip-card-back">
            {{ note.answer }}
            <button type="button" class="close cls" onClick="deleteNote({{ note.id }})">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </ul>
  <br />
<div class="container container-arrows">
  <a href="/page1" class="previous round">&#8249;</a>
  <a href="/page3" class="next round">&#8250;</a>
</div> 
<br />

{% endblock %}